<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mun elokuvakirjasto</title>
  </head>
  <body ng-app="MovieBase">
    <h1>Hello, world!</h1>
    
    <div ng-controller="MovieBaseGetController">
    <ul>
        <li ng-repeat="movie in movies">
            <a ng-href="#/movies/{{movie.$id}}">{{movie.name}}</a>
        </li>
    </ul>
    <form name="addForm">
        <div ng-controller="MovieBaseAddController">
            <h2>Lisää lefa</h2>
            <input type="text" name = "newName" placeholder="Name" ng-model="newName" required ng-minlength="1">
            <div ng-show="addForm.newName.$invalid">
                    Leffan nimi on tyhjä
            </div>
            <input type="text" name="newDirector" placeholder="Director" ng-model="newDirector" required ng-minlength="2">
            <div ng-show="addForm.newDirector.$invalid">
                    Minimi kaksi merkkiä
            </div>
            <input type="text" name="newRelease" placeholder="Release" ng-model="newRelease" ng-pattern="/[0-9]/">
            <div ng-show="addForm.newRelease.$invalid">
                    Ei validi vuosiluku
            </div>
            <input type="text" name="newDescription" placeholder="Description" ng-model="newDescription" required ng-minlength="2">
            <div ng-show="addForm.newDescription.$invalid">
                    Kuvaus ei saa olla tyhjä
            </div>
            <button ng-click="addMovies()" ng-disabled="addform.$invalid">AddMovie</button>
        </div>
    </form>
    </div>
        
        
    <!-- Hyödyllisiä kirjastoja -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <!-- Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!) -->
    <script src="app/app.js"></script>
  </body>
</html>